name: Build
on:
  push:
    branches:
      - master
      - staging
    paths-ignore:
      - '*.md'
      - '.gitignore'
      - 'LICENSE'
  pull_request:

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  pull-request:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Checkout all commits
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
        with:
          fetch-depth: 0
      - name: Setup and Test
        uses: ./.github/setup-and-test
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  release:
    name: Release
    if: github.ref == 'refs/heads/master'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'
      - name: Setup git user
        shell: bash
        run: |
          git config --global user.name '@hirezio'
          git config --global user.email 'hirezio@users.noreply.github.com'

      - name: Upload coverage reports
        uses: codecov/codecov-action@v1
        with:
          files: ./packages/jasmine-given/coverage/lcov.info, ./packages/jest-given/coverage/lcov.info

      - name: Create Release Pull Request or Publish
        if: github.ref == 'refs/heads/main'
        id: changesets
        uses: changesets/action@e0145edc7d9d8679003495b11f87bd8ef63c0cba # v1.5.3
        with:
          publish: pnpm release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
